<p>
  <img
    src="/assets/images/profile-2018-square.png"
    alt="Heiko's profile picture"
  />
</p>

<p>Hey,</p>

<p>
  I am a freelance C/C++ developer with more than 25 years of experience in
  international projects in the fields process and factory automation and
  transportation.
</p>

<p>
  I take care of communication protocol implementation, business logic design
  and database integration. Only backend and server, I don’t do user interfaces
  or frontends.
</p>

<p>
  And to make sure everything runs smoothly, I also know a thing or two about
  functional safety, security, reliability and maintainability.
</p>

<p>
  In my spare time, I contribute to
  <a href="https://ultraschall.fm" target="_blank">Ultraschall</a>, an
  <a href="https://github.com/ultraschall" target="_blank">open-source</a>
  software for professional podcast production.
</p>

<br />
